a {
    text-decoration: none;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

p {
    color: #393E41;
}

body {
    background-color: #F6F7EB;
}

h6 {
    color: #393E41;
}

#posts {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
}

.entry {
    margin: 30px;
    max-width: 700px; 
}

#author-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
}

.author-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.author-name {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: #393E41;
	margin: 0 0 0 15px;
}

.post-date {
	margin: 5px 0px 5px 0px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 25px;
    }

    p {
        font-size: 13px;
    }

    #posts {
        margin-left: 0px;
    }
    
    #post-container {
        display: flex;
        justify-content: center;
    }

    .entry {
        margin: 20px 0px 20px 0px;
    }
}