body {
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    position: relative;
    min-height: 85px;
    align-items: center;
    padding: 10px 10px 10px 25px;
    background-color: #F6F7EB;
}

h1 {
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    color: #F6F7EB;
    margin: 0px 0 25px 0;
    padding: 0px;
}

h2 {
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    color: #393E41;
    margin: 0 0 0 0;
    padding: 0px;
}

h3 {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: #393E41;
    margin: 0 0 0 0;
    padding: 0px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

#logo {
    width: 300px;
}

.button {
    border: none;
    text-decoration: none;
    background-color: #D26453;
    padding: 6px 20px 6px 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 7px;
    color: #F6F7EB;
}

#nav-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    position: absolute;
    right: 25px;
}

#nav-list > li, #nav-list > a {
    font-family: 'Poppins', sans-serif;
    padding: 15px;
    color: #393E41;
    text-decoration: none;
    font-size: 15px;
}

.rainbow-text {
	background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
	text-align: center;
	background-size: 800% 800%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    animation: rainbow 4s ease infinite;
}

@keyframes rainbow {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

#hero {
    position: relative;
    display: flex;
    background-image: linear-gradient(to top right, #3F88C5, #64118C);
    background-color: #3F88C5;
    height: 400px;
    align-items: center;
    padding-left: 35px;
}

#meet-the-team {
    background-color: #F6F7EB;
    text-align: center;
    padding: 45px 45px 15px 45px;
}

#team-pics {
    text-align: left;
}

.team-section {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 60px;
}

.team-section > img {
    border-radius: 100%;
    margin: 20px 80px 20px 0px;
}

#our-process {
    background-color: #44BBA4;
    height: 425px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 30px 20px 30px;
}

#our-process > h2 {
    color: #F6F7EB;
    margin-bottom: 27px;
}

#our-process > p {
    color: #F6F7EB;
    max-width: 700px;
    line-height: 1.5em;
}

footer {
    background-color: #D26453;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

footer > h3 {
    font-size: 17px;
    color: #F6F7EB;
    font-weight: 600;
}


@media screen and (max-width: 768px) {
    h1 {
        font-size: 45px;
    }
    
    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 15px 10px 15px 10px;
    }

    p {
        font-size: 16px;
    }

    #hero {
        padding-left: 25px;
    }

    #logo {
        width: 225px;
    }

    #nav-list {
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        right: 0px;
    }
    
    #team-pics {
        margin-top: 15px;
        text-align: center;
    }
    
    .team-section {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;
    }

    .team-section > img {
        max-width: 175px;
        margin: 20px 23px 20px 23px;
    }
}