---
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ProtoRobotics | {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/styles.css" type="text/css">
        <link rel="stylesheet" href="{{ layout.style }}" type="text/css">
        <link rel="stylesheet" href="{{ page.style }}" type="text/css">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a href="/"><img src="/assets/images/protologos.svg" width="300px"></a>
            <ul id="nav-list">
                <a href="/blog"><li>Blog</li></a>
                <a href="mailto:contact@gmail.com"><li>Contact</li></a>
                <li class="rainbow-text">Donate</li>
            </ul>
        </nav>
        {{ content }}
    </body>
</html>